
<%- include("partials/header.ejs", {active: "sets"}) %>

<% if (locals.sets) { %>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <% sets.forEach(set => { %>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="<%= set.name %>" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title> <%= set.name %> </title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <image x="12.5%" y="12.5%" width="75%" height="75%" preserveAspectRatio="xMidYMid meet" href="<%= set.icon %>"/>
              </svg>
              <div class="card-body">
                <h5 class="card-name"> <%= set.name %> </h5>
                <ul>
                  <li>common:   <%= set.rarities.common %></li>
                  <li>uncommon: <%= set.rarities.uncommon %></li>
                  <li>rare:     <%= set.rarities.rare %></li>
                  <li>mythic:   <%= set.rarities.mythic %></li>
                  <li>other:    <%= set.rarities.other %></li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="/setDetails/<%= set.code %>"><button type="button" class="btn btn-sm btn-outline-light">View</button></a>
                  <small class="text-body-secondary"> <%= set.size %> </small>
                </div>
              </div>
            </div>
          </div>
        <% }) %>

      </div>
    </div>
  </div>
<% } %>

<%- include("partials/footer.ejs") %>